/* Variables */
@define-color background-color rgba(26, 27, 38, 0.9);
@define-color primary-color rgba(51, 204, 255, 0.93);
@define-color secondary-color rgba(0, 255, 153, 0.93);

* {
    border: none;
    border-radius: 0;
    font-family: "NotoSans Nerd";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background-color;
    border-bottom: 3px solid @primary-color;
    color: white;
}

tooltip {
  background: @background-color;
  border: 1px solid @primary-color;
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    border-bottom: 3px solid white;
}

#pulseaudio,
#network,
#cpu,
#memory,
#clock{
    padding: 0 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
