/* CSS Reset */
* {
    border: none; /* Disable input white border */
}

:focus {
    box-shadow: none; /* Disable input blue border */
    border: none;
    outline: 0; /* Disable selected entry dotted outline */
}

/* Entire window */
window {
    font-size: 32px;
    background-color: rgba(26, 27, 38, 0.9);
    color: white;
}

/* Box that everything else sits inside of */
#outer-box {

}

/* Search bar */
#input {
    padding: 0.25em;
    background-color: rgba(26, 27, 38, 0.9);
    color: white;
}

/* Scroll window containing inner boxes */
#scroll {

}

/* Box containing all the entries */
#inner-box {

}

/* Box contaning text (and images) */
#entry {
    padding: 0.25em;
}

/* Box containing the name of the app */
#text {

}

/* Images displayed in entries */
#img {

}

/* Currently focused entry in the list */
#entry:selected {
    background-color: rgba(187, 225, 250, 1);
}

/* Currently focused text inside of the entry in the list */
#text:selected {
    color: rgba(26, 27, 38, 1);
}
